@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Livre */

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    color: #ffffff;
    background-color:#151515;
}

*::selection {
    background-color: #dea954;
}

main {
    background-color: #151515;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1300px;
    margin: auto;
}

form {
    max-width: 100%;
    margin: auto;
}

select {
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #ffac26;
    font-size: 1.1rem;
    box-sizing: border-box;
}

select:focus {
    box-shadow: 0 0 10px -1px #ffac26;
}

textarea {
    width: 60%;
    height: 200px;
    outline: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    border: 1px solid #ffac26;
}

h2 {
    color: #ffac26;
    font-weight: 600;
    font-size: 1.4rem;
}

/* Fim Livre */


/* Classes */
.identificar {
    margin-top: 30px;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group label {
    cursor: pointer;
    padding-left: 10px;
}


.edit-button {
    padding-left: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: 2px solid #ffac26;
    box-sizing: border-box;
}

.edit-button:focus {
    outline: 0;
    box-shadow: 0 0 10px -1px #ffac26;
}

.contato {
    max-width: 1000px;
    font-size: 35px;
    line-height: 60px;

}

.leia {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio {
    outline: none;
    cursor: pointer;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffac26;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #ffac26;
    border-radius: 50%;
    opacity:0;
    transition: all 300ms ease-in-out;
}

.radio:checked:before {
    opacity:1;
}

.radio:focus {
    box-shadow: 0 0 5px #ffac26;
}

.input1,
.input2,
.input3,
.input4,
.input5,
.input6,
.input7,
.input8,
.input9,
.input10,
.input001,
.input002,
.input003,
.input004,
.input005,
.input006,
.input007,
.input008,
.input009,
.contato1,
.contato,
.nome-email {
    display: none;
}

.open {
    display: block;
}

.hide {
    display: none;
}

/* Fim das Classes */